:root {
  --main-bg-color: rgb(35, 35, 36);
  --main-text-color: rgb(247, 243, 222);
  --link-color: rgb(181, 238, 226);
  --link-hover-color: rgb(252, 227, 103);
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;

  background-color: var(--main-bg-color);
}

h1,
h2,
h3 {
  color: var(--main-text-color);
}

p {
  color: var(--main-text-color);
}

a {
  margin-top: 2rem;
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--link-hover-color);
}
